
.icon-address-card-solid:before { content: '\e800'; } /* '' */
.icon-angle-down-solid:before { content: '\e801'; } /* '' */
.icon-angle-right-solid:before { content: '\e802'; } /* '' */
.icon-arrow-left-solid:before { content: '\e803'; } /* '' */
.icon-caret-left-solid:before { content: '\e804'; } /* '' */
.icon-chart-line-solid:before { content: '\e805'; } /* '' */
.icon-check-solid:before { content: '\e806'; } /* '' */
.icon-coins-solid:before { content: '\e807'; } /* '' */
.icon-envelope-solid:before { content: '\e808'; } /* '' */
.icon-id-card-solid:before { content: '\e809'; } /* '' */
.icon-share-square-solid:before { content: '\e80a'; } /* '' */
.icon-sign-out-alt-solid:before { content: '\e80b'; } /* '' */
.icon-times-solid:before { content: '\e80c'; } /* '' */
.icon-user-alt-solid:before { content: '\e80d'; } /* '' */
.icon-user-cog-solid:before { content: '\e80e'; } /* '' */
.icon-users-solid:before { content: '\e80f'; } /* '' */
.icon-home-solid:before { content: '\e810'; } /* '' */